---
import Base from "@/layouts/Base.astro";

---

<Base title={`Dịch vụ`}>
    <section class="section">
        <div class="container">
            <h1 class="page-heading mb-10">Services Portal</h1>
            <p class="text-center">Trang web đang trong quá trình phát triển. 
                Bạn có thể truy cập phiên bản cũ của Cổng dịch vụ, hoặc quay về trang chủ.</p>
            <div class="text-center">
                <a href='https://portal.builetuananh.name.vn/services' class="btn btn-primary text-white py-2 mt-5">Trang dịch vụ</a>
            </div>
            <div class="text-center">
                <a href='/' class="btn btn-primary text-white py-2 mt-5">Trở về trang chủ</a>
            </div>
        </div>
    </section>
</Base>