/* Normal */

/* Dark mode colors. */
:root[data-theme="dark"] {
  --sl-color-accent-low: #2d2300;
  --sl-color-accent: #7f6700;
  --sl-color-accent-high: #d4c8a2;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eaf0e8;
  --sl-color-gray-2: #bdc4bb;
  --sl-color-gray-3: #82907f;
  --sl-color-gray-4: #4f5c4d;
  --sl-color-gray-5: #303c2d;
  --sl-color-gray-6: #1f2a1c;
  --sl-color-black: #151a13;
}

/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #f1cadd;
  --sl-color-accent: #b72181;
  --sl-color-accent-high: #54173c;
  --sl-color-white: #151a13;
  --sl-color-gray-1: #1f2a1c;
  --sl-color-gray-2: #303c2d;
  --sl-color-gray-3: #4f5c4d;
  --sl-color-gray-4: #82907f;
  --sl-color-gray-5: #bdc4bb;
  --sl-color-gray-6: #eaf0e8;
  --sl-color-gray-7: #f4f7f3;
  --sl-color-black: #ffffff;
}

.featureSvg {
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

/* State Funeral */

/* :root {
    --ifm-color-primary: #222222;
    --ifm-color-primary-dark: #1f1f1f;
    --ifm-color-primary-darker: #1d1d1d;
    --ifm-color-primary-darkest: #181818;
    --ifm-color-primary-light: #252525;
    --ifm-color-primary-lighter: #272727;
    --ifm-color-primary-lightest: #2c2c2c;
    --ifm-code-font-size: 95%;
  }
  
  :root[data-theme="dark"] {
    --ifm-color-primary: #ffffff;
    --ifm-color-primary-dark: #e6e6e6;
    --ifm-color-primary-darker: #d9d9d9;
    --ifm-color-primary-darkest: #b3b3b3;
    --ifm-color-primary-light: #ffffff;
    --ifm-color-primary-lighter: #ffffff;
    --ifm-color-primary-lightest: #ffffff;
  } */
