<!-- ---
import Base from "@/layouts/Base.astro";

---

<Base title={title} meta_title={meta_title} image={image}>
  <section class="section">
    <div class="container">
      
  </section>
</Base> -->
