<div class="flex justify-center flex-wrap gap-3 mt-4">
    <a
      class="px-4.5 font-medium h-9 text-md bg-teal-500 text-white rounded-full flex items-center justify-center hover:bg-teal-600 duration-300 w-fit"
      href="/purchase"
      >Hướng dẫn lấy báo giá
    </a>
</div>