---
import Base from "@/layouts/Base.astro";

const images = [
    {
        image: "/images/graduation/1.jpg",
        description: "Tho Huynh"
    },
    {
        image: "/images/graduation/2.jpg",
        description: "Tin Vo"
    },
    {
        image: "/images/graduation/3.jpg",
        description: "Tin and Loc"
    },
    {
        image: "/images/graduation/4.jpg",
        description: "Myself"
    },
    {
        image: "/images/graduation/5.jpg",
        description: "My family"
    },
    {
        image: "/images/graduation/6.jpg",
        description: "With Vy"
    },
    {
        image: "/images/graduation/7.jpg",
        description: "The big 4"
    },
    {
        image: "/images/graduation/8.jpg",
        description: "With my lovely An"
    },
    {
        image: "/images/graduation/9.jpg",
        description: "Khoa Pham"
    },
    {
        image: "/images/graduation/10.jpg",
        description: "With sweet Khanh"
    },
    {
        image: "/images/graduation/11.jpg",
        description: "With Ngan"
    },
    {
        image: "/images/graduation/12.jpg",
        description: "Thuan Nguyen"
    },
    {
        image: "/images/graduation/13.jpg",
        description: "When Tin goes back"
    },
    {
        image: "/images/graduation/19.jpg",
        description: "An idol..."
    },
    {
        image: "/images/graduation/15.jpg",
        description: "The Baby Thanh"
    },
    {
        image: "/images/graduation/14.jpg",
        description: "Vy Pham and me"
    },
    {
        image: "/images/graduation/16.jpg",
        description: "The gifts"
    },
    {
        image: "/images/graduation/17.jpg",
        description: "The 3 of us"
    },
    {
        image: "/images/graduation/20.jpg",
        description: "My memorable moment"
    },
    {
        image: "/images/graduation/18.jpg",
        description: "With Tuyet"
    },
]
---

<Base title="Images Gallery">
    <section class="section">
        <div class="container">
            <h1 class="page-heading mb-10">Images Gallery</h1>
            <p class="text-center">Kho lưu trữ ảnh từ VNUHCM-ITUS</p>
            <div class="justify-center text-center my-10">
                <a href="https://drive.google.com/drive/folders/1WrUQBzT5piurWyWmtOloK8y4Hl8ffHEx?usp=sharingX" 
                   class="btn btn-primary text-white py-2">Xem trọn vẹn</a>
            </div>
        </div>
    </section>
    <section class="section pt-0">
        <div class="container">
            <div class="row justify-center gy-3 text-center">
                {
                    images.map((item) => (
                        <div class="lg:col-3 md:col-4 sm:col-6">
                            <div class="img-cover mb-4">
                                <img src={item.image} alt={item.description} class="w-full rounded-lg"/>
                            </div>
                            {/* <p>{item.description}</p> */}
                        </div>
                    ))
                }
            </div>
        </div>
    </section>
</Base>